data:
  train_root: '../../datasets/super-resolution/T91_General100'
  test_root: '../../datasets/super-resolution/Set14'
  lr_crop_size: 16
model:
  upscale_factor: 4
  img_channels: 1 # 1 for Y, 3 for RGB
training:
  iterations: 1000000 # total number of iterations to train
  batch_size: 64
  val_interval: 1000 # run validation after this # of iterations
  print_interval: 500 # print training log every # of iterations
  checkpoint_folder: 'checkpoints'
  optimizer:
    name: adam # sgd or adam
    lr: 1.0e-3
  scheduler:
    lr_decay: 0.5
    interval: 100000 # decay lr every # of iteraitons
  resume: 'None' # path to checkpoint to resume from